# Vim
.*.sw[op]

# Ruby
*.gem
*.rbc
.bundle
.config
.envrc
.ruby-version
.rvmrc
bin
!bin/hadupils
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Rubymine
.idea

# Sublime
*.sublime-*

# Mac OS X
.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
